{
  "extends": "canonical/auto",
  "ignorePatterns": [
    "dist",
    "package-lock.json"
  ],
  "overrides": [
    {
      "files": "*.ts",
      "rules": {
        "import/no-cycle": 0
      }
    },
    {
      "files": "*.test.ts",
      "extends": ["canonical/ava"]
    }
  ],
  "root": true
}